# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Temporary Audio Files
static/temp/

# VS Code settings
.vscode/

# dotenv file (NEVER commit your API keys)
.env

# Firebase credentials
firebase-credentials.json