--extra-index-url https://download.pytorch.org/whl/cu121

gunicorn
flask
google-generativeai
firebase-admin
python-dotenv
Pillow
PyPDF2
python-docx
torch
torchvision
torchaudio
openai-whisper
transformers
coqui-tts
librosa
soundfile
resampy
torchcodec